* {
  box-sizing: border-box;
}

html {
  font-size: 62, 5%;
  --primary-color: #0f1b4c;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins" sans-serif;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 98px;
  min-height: 40px;
  border-radius: 12px;
  background: var(--primary-color);
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
}

.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: #e6f0ff;
  height: 100vh;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 38px;
}

.navbar ul {
  display: flex;
  margin-left: 50px;
}

.navbar .actions {
  margin-left: auto;
}

.navbar ul a {
  font-weight: 500;
  padding: 8px 14px;
  color: #4f5361;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
}

.navbar ul a:hover {
  text-decoration: underline;
}

.navbar .actions-link {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
  color: #0f1b4c;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
}

.navbar .actions-btn {
  padding: 13px 16px;
  margin-left: 18px;
  border-radius: 8px;
}

.hero {
  margin-top: 130px;
}

.hero .sub-title {
  color: #687690;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.18px;
}

.hero .title {
  margin-top: 8px;
  color: #000336;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 76px; /* 118.75% */
}

.hero .desc {
  color: #5a6473;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  text-transform: capitalize;
  margin-top: 30px;
}

.hero .info {
  width: 51%;
}

.hero-cta {
  width: 170px;
  height: 50px;
  flex-shrink: 0;
  margin-top: 40px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  position: absolute;
  bottom: 0;
  right: calc((100vw - 1110px) / 2 - 100px);
}

/* Client */

.clients {
  margin-top: 122px;
}

.clients .row {
  display: flex;
  justify-content: space-between;
}

/* .clients .star {
  margin-left: auto;
} */

.clients .desc {
  color: #7d8589;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  margin-top: 23px;
}

.clients .images {
  display: flex;
  margin-top: 102px;
  justify-content: space-between;
  align-items: center;
}

.guides {
  margin-top: 200px;
}

.guides .sub-title {
  position: relative;
  color: #000339;
  text-align: center;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px; /* 100% */
}

.guides .sub-title::before {
  content: "";
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  position: absolute;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
}

.guides .desc {
  color: #5a6473;
  width: 459px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  margin-top: 20px;
}

.list-guide {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.guide-item {
  margin: 0 70px;
  text-align: center;
}

.guide-item .title {
  color: #3b3c45;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 110% */
  margin-top: 26px;
}

span {
  color: #0689ff;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 10px;
  margin-right: 4px;
}

.guide-cta {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.guide-cta a {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  padding: 15px 25px;
}

.featured {
  margin-top: 120px;
  padding: 110px 0;
  background: #f5fafe;
}

.featured .sub-title {
  color: #000339;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px; /* 100% */
}

.featured .row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.featured .desc {
  color: #5a6473;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

.featured .link {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  color: #0689ff;
}

.featured .link .arrow {
  margin-left: 8px;
  display: flex;
  margin-top: 9px;
}

.featured .list {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}

.featured .item {
  flex: 1;
  background: #fff;
  border-radius: 12px;
}

.featured .item .thumb {
  width: 100%;
  height: 227px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.featured .item .body {
  padding: 17px 20px 24px;
}

.featured .item .title a {
  color: #000339;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 100% */
}

.featured .item .desc {
  margin-top: 11px;
  color: #a3a6ab;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.featured .item .info {
  display: flex;
  align-items: center;
  margin-top: 21px;
}

.featured .item .icon {
  margin-left: 23px;
}

.featured .item .icon:first-child {
  margin-left: 0;
}

.featured .item .label {
  margin-left: 8px;
  color: #4d4d52;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
  letter-spacing: 0.14px;
}

.stats {
  margin-top: 75px;
  padding: 50px 0;
}

.stats .row {
  display: flex;
}

.stats .content {
  width: 1048px;
}

.stats .img-block {
  position: relative;
}

.stats .img-block,
.stats .info {
  width: 50%;
}

.stats .img-block .image {
  display: block;
  margin-left: auto;
  width: 400px;
  height: 460px;
  object-fit: cover;
  border-radius: 12px;
}

.stats .info {
  padding-left: 165px;
  padding-top: 79px;
}

.stats .sub-title {
  position: relative;
  width: 269px;
  height: 142px;
  flex-shrink: 0;
  color: #000339;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px; /* 128.571% */
}

.stats .info .desc {
  width: 309px;
  margin-top: 20px;
  color: #5a6473;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

.stats .sub-title::before {
  content: "";
  position: absolute;
  margin-top: -10px;
  display: block;
  border-radius: 12px;
  background: #000339;
  width: 41px;
  height: 4px;
  flex-shrink: 0;
}

.stats-trend {
  position: absolute;
  top: 0;
  left: 0;
  width: 239px;
  border-radius: 0px 0px 12px 12px;
  background: #fff;
  box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
  padding: 45px 22px 40px;
}

.stats-trend .value {
  color: #000339;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 100% */
  letter-spacing: 0.26px;
}

.stats-trend .desc {
  margin-top: 8px;
  color: #a7a7a7;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.stats-trend .icon {
  margin-left: auto;
}

.separate {
  margin-top: 25px;
  width: 193.62px;
  height: 1.2px;
  flex-shrink: 0;
  background: #e9e9e9;
}

.avata-list .avata-item {
  display: flex;
  gap: 16px 30px;
  flex-wrap: wrap;
}

.avata-list .avata-img {
  height: 16px;
  width: 16px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: -10px;
}

.stats .stats-value-item {
  margin-top: 120px;
}

.stats .row-strong {
  display: flex;
  justify-content: space-between;
}

.stats .stats-value-item .stats-value-title {
  color: #000;
  font-family: Poppins;
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
}

.stats .stats-value-item .desc {
  color: #7b8087;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  margin-top: 25px;
}

.subscribe {
  margin-top: 81px;
}

.subscribe .content {
  width: 1110px;
}

.subscribe .body {
  display: flex;
  position: relative;
  align-items: center;
  height: 370px;
  background-color: #063183;
  border-radius: 20px;
}

.subscribe .subscribe-info {
  padding: 0 80px;
}

.subscribe .subscribe-title {
  color: #fff;
  font-family: Poppins;
  font-size: 35px;
  font-weight: 600;
  line-height: 35px;
}

.subscribe .subscribe-desc {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 15px;
}

.subscribe .btn-subscribe {
  padding: 16px 43px;
  margin-top: 20px;
  background-color: #fff;
  color: #002366;
  font-family: Poppins;
  font-size: 13px;
}

.subscribe .subscribe-image {
  position: absolute;
  bottom: 0;
  left: 670px;
}

.footer {
  margin-top: 105px;
}

.footer .row-top {
  display: flex;
  justify-content: space-between;
}

.footer .heading {
  color: #1c1c1d;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
}

.footer .desc,
.footer .item a {
  color: #7a7a7e;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  margin: 40px 0;
  white-space: normal;
  width: 257px;
  line-height: 1.75;
}

.footer .item {
  margin-top: 18px;
}

.footer .item:first-child {
  margin-top: 40px;
}

.footer .row-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 81px;
  margin-bottom: 58px;
}

.footer .desc-row-bottom {
  color: #c2c2c2;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
}
